// these are the colors for jungle cook just contained within a variables page
$site-dark-grey: #6D7173;
$site-cyan: #9FDFF4;
$site-smoke: #E6EFF2;
$site-smoke-grey: #4B6973;
$site-light-grey: #B6BDBF;

// here are the rgba colors for when they are needed on the linear gradients
$site-dark-grey-hex: rgba(109, 113, 115, 0.5);
$site-cyan-hex: rgba(159, 223, 244, 0.5);
$site-smoke-hex: rgba(230, 239, 242, 0.5);
$site-smoke-grey-hex: rgba(75, 105, 115, 0.5);
$site-light-grey-hex: rgba(182, 189, 191, 0.5);


$site-1: #D2D5D9;
$site-2: #659DBF;
$site-3: #658C81;
$site-4: #014029; 
$site-5: #010D00;