//top-section for the home page
.home-1 {
    height: 100vh;
    width: 100vw;
        background-image: linear-gradient(
            to right,
            rgba(1,13,0, 0.5),
            rgba(1,13,0, 0.5)
          ), url("../images/hero-4-small.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        //intro that is ontop of the hero img
        .intro {
            display: grid;
            grid-template-columns: repeat(1,auto);
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            margin-top: 29.7vh; 

            // each line is a different p tag using nth child im able to change the styling 
            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 42px;
                color: $site-1;
                width: 450px;
                font-weight: 400;
            }

            p:nth-child(2) {
                width: 650px;
                border-top: $site-1 solid 3px;
                display: flex;
                // align-items: center;
                float: right;
                justify-content: space-evenly;
                padding-top: 5px;
                // padding-left: 10px; 

            }
            p:nth-child(3) {
                width: 650px;
                height: 43px;
                border-top: $site-1 solid 3px;
                padding-left: 245px;
                padding-top: 5px;

            }
        }
    
}

// this is the second home section that shows what coding languages i know
.home-2 {
    height: 55vh;
    width: 100vw;
    background-color: $site-2;
    display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    padding: 20px;
    padding-left: 100px;
    
    // the header for the coding languages section
    h2 {
        position: relative;
        float: left;
        top: 20px;
        color: $site-1;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: $site-1 solid 2px;
        height: 32px;
    }

    // the container for the coding language logos
    .code-container {
    margin: 35px auto;
    height: 300px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: space-evenly;
    
    img {
        width: 115px;
        height: 115px;
    }
} 
}

// section 3 of the home page that touches on me a little
.home-3 {
    height: 50vh;
    width: 100vw;
    background-color: $site-3;
    grid-template-columns: repeat(2,auto);
    display: grid;
    align-items: center;
    justify-content: space-evenly;

    // section about me 
    .info {
    width: 400px;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(1,auto);
    align-items: center;
    justify-content: space-evenly;

    p {
        height: 150px;
        width: 350px;
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $site-1;
    }
    
}

// the learn more button that will pull you to the about page
a {
    text-decoration: none;
    color: black;

.learn-more {
    width: 130px;
    height: 25px;
    background-color: $site-2;
    color: $site-1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    position: relative;
    float: right;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
}

// the photo of me
.me {
    width: 400px;
    height: 315px;
    .me-img {
        width: 380px;
        height: 315px;
        background-image:  url("../images/me-img.jpg"); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
    } 
}
}

// the fourth section of the home page that pulls the user to the contact page
.home-4 {
    height: 50vh;
    width: 100vw;
    background-color: $site-4;
    grid-template-columns: repeat(1,auto);
    display: grid;
    align-items: center;
    justify-content: space-evenly;

    // the header of the contact section
    h2 {
        width: 450px;
        height: 50px;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: $site-1;
        border-bottom: $site-1 solid 2px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    p {
        font-size: 22px;
        margin-top: -20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: $site-1;
    }

    p:nth-child(odd) {
        margin-top: -50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }

    // same learn more button just reused to take the user to the contact page
    .learn-more {
    width: 130px;
    height: 25px;
    background-color: $site-2;
    color: $site-1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    position: relative;
    float: right;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
